SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE ShowBook

AS
BEGIN

Declare @loc_EM nvarchar(200)
	BEGIN TRANSACTION	
	BEGIN TRY 

		Select * 
		From Books 	
		COMMIT TRANSACTION;

		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION; 
			Select @loc_EM = ERROR_MESSAGE();
			Throw 51001, @loc_EM, 1;
		END CATCH
END;
