
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">

    <p><a class="btn btn-default" href="~/Book/Create">Create</a></p>
    <p><a class="btn btn-default" href="~/Book/GetBook">Show Books</a></p>
    <p><a class="btn btn-default" href="~/Book/EditDeleteAllData">Delete or Update</a></p>

</div>